* {
		margin: 0;
		padding: 0;
	}
	
	li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	a {
		text-decoration: none;
	}
	
	body {
		font-family: "微软雅黑";
		background-color: #efefef;
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.f-l {
		float: left;
	}
	
	.f-r {
		float: right;
	}
	.member-login-header-left{
		width: 25%;
		height: 100%;
		position: absolute;
		left: .5rem;
		top:0
		
	}
	.member-login-header-left p{
		line-height: 3.5rem;
		font-size: 1rem;
		color: white;
	}
	.member-login-header{
		text-align: center;
	}
	.member-login-header p:first-child{
		line-height: 3.5rem;
		color: white;
		position: relative;
		right: 1rem;
	}
	.member-login-header-left p{
		position: relative;
		right: 1rem;
	}
	.member-input-group ul li span{
		display: block;
		
		height: 1.2rem;
		width: 1.35rem;
		background-size: 75%;
		position: relative;
		background-repeat:  no-repeat;
		


		
  	}.member-input-group ul li{
  		background-color: white;
  		position: relative;
  	}
.member-input-group ul li .member-input01{
	background: url(../img/login/member-login-icons_17.png)  no-repeat;
	
		background-size: 75%;position: relative;
		left:.2rem
	
	
}
.member-input-group ul li .member-input02{
	background: url(../img/login/phone.png) no-repeat;
		background-size: 60%;
		height: 1.5rem;
		position: relative;
		left:.2rem
		
	
}
.member-input-group ul li .member-input03{
	background: url(../img/login/member-login-icons_12.png) no-repeat;
		background-size: 100%;
		position: relative;
		top:.1rem
}
.member-input-group ul li .member-input04{
	background: url(../img/login/member-login-icons_10.png) no-repeat;
		background-size: 100%;
		position: relative;
		top:.2rem
	
}
.member-input-group ul li .member-input05{
	background: url(../img/login/member-login-icons_07.png) no-repeat;
		background-size: 80%;
		height: 1.8rem;position: relative;
		left:.2rem
		
	
	
}.member-input-group ul li .member-input06{
	background: url(../img/login/member-login-icons_04.png) no-repeat;
		background-size: 100%;
	
}
.member-input-group>ul>li>.member-input07{
	background: url(../img/login/selected.png) no-repeat;
		background-size: 90%;
	
}
.member-input-group>ul>li>input{
	float: left;
	position: absolute;
	right: 0;
	top:0;
	width: 70%;
	height: 95%;
	border: none;
	outline: none;
	font-size: .7rem;
	

}
.member-input-group>ul>li>.member-login-input02{
	width: 65%;
}
.member-input-group>ul>li>.member-login-input03{
	width: 65%;
}
.member-input-group>ul>li>.member-login-input04{
	width: 63%;
}
.member-input-group>ul>li>.member-login-input06{
	width: 58%;
}
.radio{
	position: absolute;
	left:40%;
	top:20%;
}input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: 1rem;
    color: #d8d8d8;
}
input[type=radio]:after {
    content: "";
    display:block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  text-align: center;
  line-height: .6rem;
  font-size: .8rem;
  color: #fff;
    border: 3px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;
}
input[type=radio]:checked:after {
    content: "L";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border-color: #099414;
    background-color: #099414;
}
.member-input-group02{
	height: 5rem;
	background-color: white;
	width: 100%;
	margin-top: 1.5rem;
	display: none;
}
.member-input-group02 ul{
	width: 100%;
	height: 100%;
	
}.member-input-group02 ul li{
                            width: 100%;
							height: 2.5rem;
							box-sizing: border-box;
							border-bottom: 1px solid #e6e6e6;
							padding-left: .5rem;
							padding-top: .5rem;
	
}
.member-input08{
	display: block;
		height: 2rem;
		width: 2rem;

		background: url(../img/login/member-login-icons_01.png);
		position: relative;
		background-size: 90%;
		
		background-repeat:  no-repeat;
		float: left;
		margin-right: .8rem;
		
}
.member-input09{
	display: block;
		height: 2rem;
		width: 2rem;

		background: url(../img/login/member-login-icons_02.png);
		position: relative;
		background-size: 90%;
		
		background-repeat:  no-repeat;
		float: left;
		margin-right: .8rem;
		
}
.member-login-btn{
	width: 100%;
	height: 1.5rem;
	margin-top: 2rem;
	border-radius: 0;
	padding-left: .6rem;
}
.member-login-btn input{
	width: 1rem;
	height: 1rem;
	margin-right: .3rem;
}
.member-login-btn input::after{
	width: 1rem;
	height: 1rem;
	font-size: .8rem;
}
.member-login-btn p{
	font-size: .7rem;
}
 .login-btn{
	padding: 0;
	
	margin: 0 auto;

}
.member-login-btn01{
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}











	html{font-size:16px;font-family: helvetica,"microsoft yahei";}
			@media only screen and (min-width:320px){html {font-size: 17.2px!important;}
			
			}
			@media only screen and (min-width:360px){html {font-size: 19.2px!important;}
			
			}
			@media only screen and (min-width:375px){html {font-size: 20px!important;}
			
			}
			@media only screen and (min-width:400px){html {font-size:21.33px!important;}
			
			}
			@media only screen and (min-width:414px){html {font-size:22.08px!important;}
			
			}
			@media only screen and (min-width:480px){html {font-size:25.6px!important;}
				input[type=radio]:after {
    content: "";
    display:block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  text-align: center;
  line-height: .8rem;
  font-size: .8rem;
  color: #fff;
    border: 3px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;
}
			}
			@media only screen and (min-width:640px){html {font-size: 34.4px!important;}
				.member-input-group>ul>li>.member-login-input01{
	width: 75%;
}
			.member-input-group>ul>li>.member-login-input02{
	width: 70%;
}
.member-input-group>ul>li>.member-login-input03{
	width: 70%;
}
.member-input-group>ul>li>.member-login-input04{
	width: 65%;
}.member-input-group>ul>li>.member-login-input05{
	width: 75%;
}
.member-input-group>ul>li>.member-login-input06{
	width: 62%;
}
			}
@media only screen and (min-width:1000px){html {font-size: 44.6px!important;}
.member-input-group>ul>li>.member-login-input01{
	width: 75%;
}
			.member-input-group>ul>li>.member-login-input02{
	width: 70%;
}
.member-input-group>ul>li>.member-login-input03{
	width: 70%;
}
.member-input-group>ul>li>.member-login-input04{
	width: 65%;
}.member-input-group>ul>li>.member-login-input05{
	width: 75%;
}
.member-input-group>ul>li>.member-login-input06{
	width: 62%;
}
}
.member-input07 .radio input{
	width: .5rem;
	height: .5rem;
}

