body,ul,h3,p{
	margin:0;
	padding: 0;
}
a{
	color: inherit;
	text-decoration: none;
	display: inline-block;
}
.content{
	width: 1200px;
	margin: 0 auto;
}
.f-l{
	float: left;
}
.f-r{
	float: right;
}
.clear{
	clear: both;
}
.relative{
	position: relative;
}
ul li{
	list-style: none;
	display: inline-block;
}
html{font-size:16px;font-family: helvetica,"microsoft yahei";}
	@media only screen and (min-width:320px){html {font-size: 16px!important;}}
	@media only screen and (min-width:360px){html {font-size: 19.2px!important;}}
	@media only screen and (min-width:375px){html {font-size: 20px!important;}}
	@media only screen and (min-width:400px){html {font-size:21.33px!important;}}
	@media only screen and (min-width:414px){html {font-size:22.08px!important;}}
	@media only screen and (min-width:480px){html {font-size:25.6px!important;}}
	@media only screen and (min-width:640px){html {font-size: 34.4px!important;}}
header{
	position: fixed;
	width: 100%;
}
.header-top{
	width: 100%;
	height: 2.2rem;
	background-color: #0097ff;
}
.back-arrow{
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background-image: url(../img/elem/back-arrow.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: .5rem;
	vertical-align: middle;
}
.food{
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
	padding-left: 4.5rem;
	line-height: 2.2rem;
	vertical-align: middle;
	color: #FFFFFF;
}
